.countdown {
  text-align: center;
  background-color: var(--dark-blue);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.countdown h2 {
  text-align: center;
  font-size: clamp(1.3rem, 5vw, 2.2rem);
  color: white;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  font-weight: normal;
}

.countdown p {
  color: white;
  font-size: clamp(1rem, 5vw, 1.25rem);
}
