.envelope-wrapper {
  perspective: 1000px;
  position: relative;
  width: 600px;
  height: 300px;
  margin: 100px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.text {
  text-align: center;
}

.envelope {
  width: 90%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Flap of the envelope */
.flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: var(--darker-blue); /* Envelope flap color */
  transform-origin: top;
  transition: transform 0.8s ease-in-out;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

/* Body of envelope */
.body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue); /* Envelope body color */
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

/* Letter inside */
.letter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  padding: 20px;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  z-index: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Open state */
.envelope.open .flap {
  transform: rotateX(180deg);
}

.envelope.open .letter {
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* Button styling */
#open-envelope {
  background-color: var(--orange);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 4;
  position: relative;
  width: 80%;
  padding: 0.6rem;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
}

#open-envelope:hover {
  background: var(--dark-blue);
}

#open-envelope.active {
  background: var(--light-blue);
  color: var(--dark-blue);
}

#open-envelope.active:hover {
  background: var(--orange);
  color: white;
}

@media screen and (max-width: 750px) {
  .envelope-wrapper {
    gap: 80px;
  }
  .envelope {
    width: 90%;
    height: 80%;
  }
}

@media screen and (max-width: 550px) {
  .envelope-wrapper {
    gap: 60px;
  }
}
