body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(145, 166, 207, 0.5);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: left;
}

label {
  font-size: clamp(1.2rem, 5vw, 1.3rem);
}
.title-container {
  width: 90%;
}

h1 {
  text-align: center;
  font-size: clamp(3rem, 5vw, 3rem);
}

.rsvp-container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: clamp(1.8rem, 5vw, 2rem);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 32px;
}

.radio-btn {
  width: 20px;
  height: 20px;
}

.svar-button {
  padding: 0.6rem;
  background: blueviolet;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  cursor: pointer;
}

.svar-button:hover {
  background: #45a049;
}

.hidden {
  display: none;
}

#response-message {
  margin-top: 1rem;
  font-weight: bold;
}

.hvem-kommer-kommerikke-boks {
  margin-top: 20px;
  display: flex;
  height: fit-content;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: left;
  justify-content: space-between;
}

.hvem-kommer-boks ul,
.hvem-kommer-ikke-boks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hvem-kommer-ikke-boks {
  width: 45%;
  background-color: rgb(172, 172, 172, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.hvem-kommer-ikke-boks h2,
.hvem-kommer-boks h2 {
  font-size: clamp(1.25rem, 5vw, 1.4rem);
}

.hvem-kommer-boks {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
}

.info-box {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin: 20px 0;
  text-align: left;
}

.info-box h2 {
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: center;
}

.info-box p {
  margin: 0.5rem 0;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

@media screen and (max-width: 750px) {
  .rsvp-container,
  .hvem-kommer-kommerikke-boks {
    width: 70%;
  }
  .hvem-kommer-kommerikke-boks {
    flex-direction: column;
    gap: 20px;
  }

  .hvem-kommer-ikke-boks,
  .hvem-kommer-boks {
    width: 100%;
    padding: 0;
  }

  .content {
    padding: 10px;
  }
}
