:root {
  --light-blue: #8ecae6;
  --darker-blue: #219ebc;
  --dark-blue: #023047;
  --yellow: #ffb703;
  --orange: #fb8500;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #1a1a1a;
  margin: 0 auto;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: left;
  height: fit-content;
}

label {
  font-size: clamp(1.2rem, 5vw, 1.3rem);
}
.title-container {
  width: 90%;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  color: white;
}

.rsvp-container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: clamp(1.8rem, 5vw, 2rem);
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 60px;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 32px;
}
.radio-group {
  display: flex;
  gap: 20px;
}

.radio-btn,
.chechbox {
  width: 20px;
  height: 20px;
}

::placeholder {
  font-size: clamp(0.8rem, 5vw, 1rem);
}

.svar-button {
  padding: 0.6rem;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  cursor: pointer;
}

.svar-button:hover {
  background: var(--dark-blue);
}

.hidden {
  display: none;
}

#response-message {
  margin-top: 1rem;
  z-index: 1;
  font-weight: bold;
}

.hvem-kommer-kommerikke-boks {
  margin-top: 20px;
  display: flex;
  height: fit-content;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: left;
  justify-content: space-between;
  z-index: 1;
}

.hvem-kommer-boks ul,
.hvem-kommer-ikke-boks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hvem-kommer-boks {
  width: 45%;
  background-color: rgba(82, 150, 52, 0.25);
  padding: 10px;
  border-radius: 10px;
}

.hvem-kommer-ikke-boks {
  width: 45%;
  background-color: rgb(255, 183, 3, 0.25);
  padding: 10px;
  border-radius: 10px;
}

.hvem-kommer-ikke-boks h2,
.hvem-kommer-boks h2 {
  font-size: clamp(1.25rem, 5vw, 1.4rem);
}

.hvem-kommer-boks {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
}

.info-container {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.info-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  text-align: left;
  padding: 2rem;
  max-height: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.info-box h2 {
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: center;
}

.info-box p {
  margin: 0.5rem 0;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

#fireworks-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.title-container,
.form-container {
  position: relative;
  z-index: 1;
}

.title-container {
  margin-bottom: 20px;
}

#allergies-container.hidden {
  display: none;
}

#allergies-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}

#background-music {
  position: absolute;
  right: 0;
}

#play-pause {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--orange);
}

.music-control {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.music-message {
  position: relative;
  right: 0;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  display: none;
  background-color: var(--dark-blue);
  padding: 10px;
  z-index: 5;
  border-radius: 10px;
}

.paused {
  transform: translateY(-10px);
}

/* Wavy text */
.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}

@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}

@media screen and (max-width: 750px) {
  .rsvp-container,
  .hvem-kommer-kommerikke-boks,
  .info-container {
    width: 70%;
  }
  .hvem-kommer-kommerikke-boks {
    flex-direction: column;
    gap: 20px;
  }

  .hvem-kommer-ikke-boks,
  .hvem-kommer-boks {
    width: 100%;
    padding: 0;
  }

  .content {
    padding: 10px;
  }
}
